# -------------------------------------------------------
# Python
# -------------------------------------------------------

__pycache__/
*.py[cod]
*$py.class

# Virtual environment

.venv/
venv/

# -------------------------------------------------------
# PyCharm
# -------------------------------------------------------

.idea/

# -------------------------------------------------------
# Pytest
# -------------------------------------------------------

.pytest_cache/
.coverage
htmlcov/

# -------------------------------------------------------
# Build artifacts
# -------------------------------------------------------

build/
dist/
*.egg-info/

# -------------------------------------------------------
# Local environment
# -------------------------------------------------------

.env
.env.*

# -------------------------------------------------------
# OS files
# -------------------------------------------------------

Thumbs.db
Desktop.ini

# -------------------------------------------------------
# Logs
# -------------------------------------------------------

*.log

git_plan.txt